@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700italic,700,900,900italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #ebebeb; }

h1,
h2 {
  font-family: "Cardo", Georgia, Times, serif; }

nav.site-nav:not(:hover):not(:active):not(:focus) {
  background: transparent; }

nav.site-nav .menu-icon {
  height: 36px; }

nav.site-nav .page-link {
  color: #ebebeb; }
  @media (640px) {
    nav.site-nav .page-link {
      font-size: 0.9375rem; } }

nav.site-nav:hover .page-link, nav.site-nav:active .page-link {
  color: #2d2d2d; }
  @media (min-width: 640px) {
    nav.site-nav:hover .page-link, nav.site-nav:active .page-link {
      color: white; } }

.site-header {
  padding: 0 0.9375rem;
  background: transparent;
  border-bottom-width: 0;
  margin-bottom: -3.5rem;
  z-index: 10;
  border-top-color: #883f37; }
  @media (min-width: 640px) {
    .site-header {
      padding: 0 1.875rem; } }

.fullwidth {
  max-width: 100%; }

.wrapper.fullwidth {
  padding: 0; }
  .wrapper.fullwidth > section:not(.hero) {
    padding: 4.375rem 0.9375rem; }
    @media (min-width: 640px) {
      .wrapper.fullwidth > section:not(.hero) {
        padding: 6.25rem 1.875rem; } }
  .wrapper.fullwidth > section.hero {
    padding: 0 0.9375rem; }
    @media (min-width: 640px) {
      .wrapper.fullwidth > section.hero {
        padding: 0 1.875rem; } }
  .wrapper.fullwidth article {
    padding: 4.375rem 0.9375rem;
    background: white; }
    @media (min-width: 640px) {
      .wrapper.fullwidth article {
        padding: 6.25rem 1.875rem; } }

.site-footer {
  position: relative; }
  .site-footer .wrapper.fullwidth .row {
    padding: 0 0.9375rem; }
    @media (min-width: 640px) {
      .site-footer .wrapper.fullwidth .row {
        padding: 0 1.875rem; } }
    .site-footer .wrapper.fullwidth .row .footer-col {
      padding-left: 0;
      padding-right: 15px; }
  .site-footer .footer-col-wrapper {
    margin-left: 0; }
    @media (min-width: 1200px) {
      .site-footer .footer-col-wrapper {
        margin-left: -1.875rem; } }

.page-heading,
section header h2 {
  font-size: 2rem;
  font-weight: 300;
  color: #3c5d64; }

.row {
  display: block;
  max-width: 80rem;
  margin: 0 auto; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.right {
  float: right; }

.clearfix {
  clear: both; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

.inline-lists, .about .skills, .portfolio .navigation ul, .contact-me .links-out {
  list-style: none;
  margin: 0;
  float: left; }
  .inline-lists li, .about .skills li, .portfolio .navigation ul li, .contact-me .links-out li {
    display: inline-block;
    float: left; }

.page-content {
  position: relative;
  padding: 0;
  z-index: 9; }

hr.short,
span.short {
  margin: 1.875rem 0;
  width: 6.25rem;
  border-width: 0.1875rem 0 0 0;
  border-style: solid; }

hr.red,
span.red {
  border-color: #c25a4f; }

hr.center,
span.center {
  margin: 0 auto;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem; }

hr.header,
span.header {
  margin-top: 0.9375rem; }

.hero {
  background-color: #344245;
  background-image: linear-gradient(135deg, #273234 0%, #344245 100%);
  padding-top: 0;
  padding-bottom: 0; }
  .hero * {
    color: #ebebeb; }
  .hero .hero-wrapper {
    display: block;
    position: relative;
    max-width: 80rem;
    margin: 0 auto; }
  .hero .row {
    height: 25rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
    @media (min-width: 640px) {
      .hero .row {
        height: 28.125rem; } }
    @media (min-width: 768px) {
      .hero .row {
        height: 31.25rem; } }
    @media (min-width: 1024px) {
      .hero .row {
        height: 34.375rem; } }
    @media (min-width: 1440px) {
      .hero .row {
        height: 37.5rem; } }
  .hero .content {
    margin: 3.125rem 0; }
  .hero .title {
    line-height: 1;
    font-weight: 300;
    color: #c25a4f;
    margin: 0;
    font-size: 3.4375rem; }
  .hero .subtitle {
    font-size: 1.375rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: darkgray;
    letter-spacing: 0.3px; }
    .hero .subtitle a {
      color: white; }

.about .content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 0.9375rem; }
  .about .content:last-child {
    margin-right: 0; }
  @media (min-width: 768px) {
    .about .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-top: 0rem; }
      .about .content:last-child {
        margin-right: 0; } }
  .about .content .description {
    max-width: 43.75rem; }

@media (min-width: 768px) {
  .about .image-wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    float: right; }
    .about .image-wrapper:last-child {
      margin-right: 0; } }

.about .image-wrapper .avater {
  display: block; }

.about .skills li span {
  margin: 0.1875rem 0.375rem 0.1875rem 0;
  padding: 0.5rem 0.75rem;
  border: solid 1px black;
  display: block; }

.About {
  background-color: whitesmoke; }

.recent-work {
  background: white; }

.portfolio {
  background-color: whitesmoke; }

a.read-more {
  color: #2d2d2d; }
  a.read-more:visited {
    color: #686868; }

.recent-work ul,
.portfolio .list ul {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .recent-work ul::after,
  .portfolio .list ul::after {
    clear: both;
    content: "";
    display: table; }

.recent-work li:not([class$="desandro"]),
.portfolio .list li:not([class$="desandro"]) {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .recent-work li:not([class$="desandro"]):last-child,
  .portfolio .list li:not([class$="desandro"]):last-child {
    margin-right: 0; }
  @media (min-width: 640px) and (max-width: 768px) {
    .recent-work li:not([class$="desandro"]),
    .portfolio .list li:not([class$="desandro"]) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .recent-work li:not([class$="desandro"]):last-child,
      .portfolio .list li:not([class$="desandro"]):last-child {
        margin-right: 0; }
      .recent-work li:not([class$="desandro"]):nth-child(2n+2),
      .portfolio .list li:not([class$="desandro"]):nth-child(2n+2) {
        margin-right: 0; } }
  @media (min-width: 768px) and (max-width: 1200px) {
    .recent-work li:not([class$="desandro"]),
    .portfolio .list li:not([class$="desandro"]) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .recent-work li:not([class$="desandro"]):last-child,
      .portfolio .list li:not([class$="desandro"]):last-child {
        margin-right: 0; }
      .recent-work li:not([class$="desandro"]):nth-child(2n+2),
      .portfolio .list li:not([class$="desandro"]):nth-child(2n+2) {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .recent-work li:not([class$="desandro"]),
    .portfolio .list li:not([class$="desandro"]) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .recent-work li:not([class$="desandro"]):last-child,
      .portfolio .list li:not([class$="desandro"]):last-child {
        margin-right: 0; }
      .recent-work li:not([class$="desandro"]):nth-child(4n+4),
      .portfolio .list li:not([class$="desandro"]):nth-child(4n+4) {
        margin-right: 0; } }

.recent-work .post-img,
.portfolio .list .post-img {
  display: block; }

.recent-work .post-desc,
.portfolio .list .post-desc {
  padding: 0.625rem 0.9375rem;
  padding-left: 0; }
  .recent-work .post-desc .post-link,
  .portfolio .list .post-desc .post-link {
    font-family: "Cardo", Georgia, Times, serif;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding-left: 0.625rem;
    border-left: solid 0.1875rem #c25a4f; }
    .recent-work .post-desc .post-link a,
    .portfolio .list .post-desc .post-link a {
      font-size: 1.25rem;
      color: #4d4d4d; }
  .recent-work .post-desc .post-meta,
  .portfolio .list .post-desc .post-meta {
    text-transform: uppercase; }
  .recent-work .post-desc .post-categories,
  .portfolio .list .post-desc .post-categories {
    display: block;
    font-size: 0.875rem;
    color: #828282;
    margin-top: 0.3125rem; }
    .recent-work .post-desc .post-categories li,
    .portfolio .list .post-desc .post-categories li {
      position: relative;
      display: inline-block;
      padding: 0.1875rem 0.375rem;
      margin: 0;
      margin-right: 0.25rem;
      width: auto;
      border: solid 1px #9b9b9b; }

.portfolio .navigation nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 0.9375rem; }
  .portfolio .navigation nav:last-child {
    margin-right: 0; }
  @media (min-width: 1024px) {
    .portfolio .navigation nav {
      margin-bottom: 1.875rem; }
      .portfolio .navigation nav.portfolio-filter {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%; }
        .portfolio .navigation nav.portfolio-filter:last-child {
          margin-right: 0; }
      .portfolio .navigation nav.portfolio-sort {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-right: 0; }
        .portfolio .navigation nav.portfolio-sort:last-child {
          margin-right: 0; } }

.portfolio .navigation h4 {
  margin: 0;
  margin-bottom: 0.3125rem;
  font-family: "Cardo", Georgia, Times, serif;
  font-weight: 700; }

.portfolio .navigation ul li.checked, .portfolio .navigation ul li:hover, .portfolio .navigation ul li:active {
  cursor: pointer; }

.portfolio .navigation ul li button {
  margin: 0.1875rem 0.375rem 0.1875rem 0;
  padding: 0.5rem 0.75rem;
  border: solid 1px black;
  display: block;
  background-color: transparent;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  transition: all 0.25s ease-in-out; }
  .portfolio .navigation ul li button.checked, .portfolio .navigation ul li button:hover, .portfolio .navigation ul li button:active {
    border-color: #af5147;
    color: #af5147; }

.portfolio .post-list.desandroed {
  display: inline-block;
  width: 100%; }

.post-sizer-desandro,
.post-item-desandro {
  float: left;
  display: inline-block;
  position: relative;
  width: 100%; }
  @media (min-width: 640px) {
    .post-sizer-desandro,
    .post-item-desandro {
      width: 47.45%; } }
  @media (min-width: 768px) {
    .post-sizer-desandro,
    .post-item-desandro {
      width: 31.28%; } }
  @media (min-width: 1024px) {
    .post-sizer-desandro,
    .post-item-desandro {
      width: 23%; } }
  @media (min-width: 640px) {
    .post-sizer-desandro .post-desc,
    .post-item-desandro .post-desc {
      min-height: 8.75rem; } }
  @media (min-width: 768px) {
    .post-sizer-desandro .post-desc,
    .post-item-desandro .post-desc {
      min-height: 10.625rem; } }
  @media (min-width: 1024px) {
    .post-sizer-desandro .post-desc,
    .post-item-desandro .post-desc {
      min-height: 10.375rem; } }

.post-gutter-desandro {
  width: 0%; }
  @media (min-width: 640px) {
    .post-gutter-desandro {
      width: 2.9%; } }
  @media (min-width: 768px) {
    .post-gutter-desandro {
      width: 2.4%; } }
  @media (min-width: 1024px) {
    .post-gutter-desandro {
      width: 1.9%; } }

.contact-me {
  background-color: whitesmoke; }
  .contact-me .links-out li:not(:last-child) a:after {
    content: '/'; }
  .contact-me .links-out li a {
    font-family: "Cardo", Georgia, Times, serif;
    font-size: 1.5rem;
    color: #4d4d4d;
    margin: 0.3125rem;
    padding: 0 0.625rem;
    display: block;
    line-height: 1; }
    .contact-me .links-out li a:first-child {
      margin-left: 0;
      padding-left: 0; }

header.page-inner {
  background-color: #344245;
  background-image: linear-gradient(135deg, #273234 0%, #344245 100%);
  padding: 0 0.9375rem; }
  header.page-inner * {
    color: #ebebeb; }
  @media (min-width: 640px) {
    header.page-inner {
      padding: 0 1.875rem; } }
  header.page-inner .header-wrapper {
    display: block;
    position: relative;
    max-width: 80rem;
    margin: 0 auto; }
  header.page-inner .row {
    height: 18.75rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
    header.page-inner .row .content {
      margin: 3.125rem 0; }
    header.page-inner .row .page-heading {
      font-size: 2.75rem;
      line-height: 1;
      font-weight: 300;
      color: #c25a4f;
      margin: 0; }
    header.page-inner .row .description {
      font-size: 1.375rem;
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      color: darkgray;
      letter-spacing: 0.3px; }

.resume {
  background-color: whitesmoke; }
  .resume .work-experience,
  .resume .education,
  .resume .skills-competency {
    margin: 1.875rem 0; }
  .resume .work-experience,
  .resume .education,
  .resume .pretty-good,
  .resume .kinda-okay {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .resume .work-experience:last-child,
    .resume .education:last-child,
    .resume .pretty-good:last-child,
    .resume .kinda-okay:last-child {
      margin-right: 0; }
    @media (min-width: 768px) {
      .resume .work-experience,
      .resume .education,
      .resume .pretty-good,
      .resume .kinda-okay {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .resume .work-experience:last-child,
        .resume .education:last-child,
        .resume .pretty-good:last-child,
        .resume .kinda-okay:last-child {
          margin-right: 0; } }
  @media (min-width: 768px) {
    .resume .education,
    .resume .kinda-okay {
      margin-right: 0; } }
  .resume .content {
    max-width: 31.25rem; }
  .resume .item {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem; }
    .resume .item > * {
      display: block;
      position: relative; }
    .resume .item .title {
      font-family: "Cardo", Georgia, Times, serif;
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.15;
      margin-bottom: 0.625rem; }
    .resume .item .role,
    .resume .item .period {
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      margin-bottom: 0.3125rem; }
    .resume .item .role {
      color: #686868;
      text-transform: uppercase;
      font-size: 0.9375rem;
      letter-spacing: 0.3px; }
    .resume .item .period {
      color: #344245;
      font-size: 0.875rem;
      margin-bottom: 0.625rem;
      font-style: italic; }
    .resume .item .desc {
      padding-left: 1.25rem; }
      .resume .item .desc * {
        line-height: 1.5; }
      .resume .item .desc li,
      .resume .item .desc span {
        margin-bottom: 0.3125rem; }

article header,
article .post-content-wrapper {
  display: block; }
  article header::after,
  article .post-content-wrapper::after {
    clear: both;
    content: "";
    display: table; }

article .post-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  article .post-content:last-child {
    margin-right: 0; }
  @media (min-width: 768px) {
    article .post-content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      article .post-content:last-child {
        margin-right: 0; } }
  @media (min-width: 1024px) {
    article .post-content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      article .post-content:last-child {
        margin-right: 0; } }

article .post-meta {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  article .post-meta:last-child {
    margin-right: 0; }
  @media (min-width: 768px) {
    article .post-meta {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      article .post-meta:last-child {
        margin-right: 0; } }
  @media (min-width: 1024px) {
    article .post-meta {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      article .post-meta:last-child {
        margin-right: 0; } }

article blockquote {
  line-height: 1.2;
  border-left-color: #c25a4f;
  margin-left: 0;
  font-family: "Cardo", Georgia, Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  border-left-width: 0.3125rem; }
  @media (min-width: 1024px) {
    article blockquote {
      font-size: 2.25rem;
      border-left-width: 0.625rem;
      line-height: 1.15; } }

header.notice {
  background-color: #c25a4f;
  margin: 0;
  border: 0;
  padding: 0.9375rem;
  display: block;
  position: relative; }
  header.notice span {
    color: white;
    font-weight: 200;
    letter-spacing: 0.2px;
    font-size: 1rem; }
    header.notice span a {
      color: white;
      text-decoration: underline; }
