---
layout: default
---

<section class="hero">
<div class="hero-wrapper">
  <div class="row">
    <div class="content">
      <div class="title-logo wow fadeInDown" data-wow-delay="0.3s">
        <!-- <svg id="my-name-logo" width="803px" height="126px" viewBox="0 0 803 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>DOMINIC GAN</title>
          <g class="name" transform="translate(-113.000000, -387.000000)" font-weight="500" font-family="Oswald" font-size="150" font-style="italic">
            <text>
              <tspan x="108" y="511">DOMINIC GAN</tspan>
            </text>
          </g>
        </svg> -->
      </div>
      <!-- <h1 class="title wow fadeInDown" data-wow-delay="0.3s">{{ site.title }}</h1> -->
      <h2 class="subtitle wow fadeIn" data-wow-delay="0.7s">{{ site.subtitle }}</h2>
    </div>
  </div>
</div>
</section>

<section class="about">
  <div class="row">
    <div class="image-wrapper">
      <!-- <div class="avatar"><img src="https://unsplash.it/558/558" alt="avatar"></div> -->
    </div>
    <div class="content">
      <h1 class="page-heading wow fadeInDown" data-wow-delay="0.9s">{{ site.data.index.about-title }}</h1>
      <div class="description wow fadeIn" data-wow-delay="0.9s">{{ site.data.index.about-description }}</div>
      <hr class="short red wow fadeIn">

      <ul class="skills">
        {% for skill in site.data.skills %}
        <li class="wow fadeIn" data-wow-delay="{{ forloop.index | times:0.05 }}s">
          <span>{{ skill.name}}</span>
        </li>
        {% endfor %}
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<section class="recent-work">
  <div class="row">
    <h1 class="page-heading wow fadeInDown">{{ site.data.index.recent-title }}</h1>
    <p class="description wow fadeIn">{{ site.data.index.recent-description }}</p>
    <hr class="short red wow fadeIn">

    <ul class="post-list">
      {% for post in site.posts limit:4 %}
      <li class="post-item {{ post.featured }} {% for category in post.categories %}{{ category }} {% endfor %} wow fadeInUp" data-wow-delay="0.{{ forloop.index }}s">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-img">
        <img src="{{ post.cover-image-index }}" alt="{{ post.name }}" title="{{ post.name }}">
      </a>
        <div class="post-desc">
          <h3 class="post-link name">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
          <span class="post-meta date"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %Y" }}</time></span>
          <!-- <ul class="post-categories">{% for category in post.categories %}<li>{{ category }}</li>{% endfor %}</ul> -->
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">
    <a class="right read-more wow fadeIn" href="/portfolio/" data-wow-delay="1s">See more</a>
  </div>
</section>

<section class="contact-me">
  <div class="row">
    <h1 class="page-heading wow fadeInDown">{{ site.data.index.contact-title }}</h1>
    <p class="description wow fadeIn">{{ site.data.index.contact-description }}</p>
    <hr class="short red wow fadeIn">

    <ul class="links-out">
      {% for contact-link in site.data.contact-links %}
      <li class="wow fadeInUp" data-wow-delay="{{ forloop.index | times:0.2 }}s">
        <a href="{{ contact-link.link }}">
          <!-- <span class="icon">{{ contact-link.icon }}</span> -->
          <span class="title">{{ contact-link.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
