---
layout: inner
title: Portfolio
permalink: /Portfolio/
---

<!-- <header class="page-inner">
  <div class="row">
    <div class="content">
      <h1 class="page-heading">Portfolio</h1>
      <p class="description">{{ site.data.index.recent-description }}</p>
    </div>
  </div>
</header> -->

<section class="portfolio">
<div class="row">
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="{% for category in post.categories %}{{ category }} {% endfor %}">
      <div class="post-img"><img src="https://unsplash.it/600/400" alt="{{ post.name }}" title="{{ post.name }}"></div>
      <div class="post-desc">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <!-- <span class="post-categories">{% for category in post.categories %}{{ category }} {% endfor %}</span> -->
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
</section>

