---
layout: inner
title: Résumé
subtitle: 
permalink: /resume/
---

<section class="resume">
	<div class="row">
		<div class="work-experience">
			<header class="wow fadeInDown"><h2>Work &amp; Experience</h2></header>
			<hr class="short red header wow fadeIn">
			<div class="content">
				{% for work in site.data.work %}
				<div class="item wow fadeInUp" data-wow-delay="{{ forloop.index | times: 0.2 }}s">
					<h3 class="title">{{ work.company }}</h3>
					<h4 class="role">{{ work.role }}</h4>
					<span class="period">{{ work.period }}</span>
					<div class="desc">
						{{ work.desc }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="education">
			<header class="wow fadeInDown"><h2>Education</h2></header>
			<hr class="short red header wow fadeIn">
			<div class="content">
				{% for education in site.data.education %}
				<div class="item wow fadeInUp" data-wow-delay="{{ forloop.index | times: 0.05 }}s">
					<h3 class="title">{{ education.school }}</h3>
					<h4 class="role">{{ education.course }}</h4>
					<span class="period">{{ education.period }}</span>
					<div class="desc">
						{{ education.desc }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="skills-competency">
			<header class="wow fadeInDown"><h2>Skills &amp; Competencies</h2></header>
			<hr class="short red header wow fadeIn">
			<div class="pretty-good wow fadeInUp" data-wow-delay="0.2s">
				<div class="item content desc">
					<!--<div class="desc">-->
					<p>Fluent and highly competent in these areas:</p>
					<ul>
						{% for skill in site.data.skill-good %}
						<li>{{ skill.name }}</li>
						{% endfor %}
					</ul>
					<!--</div>-->
				</div>
			</div>
			<div class="kinda-okay wow fadeInUp" data-wow-delay="0.2s">
				<div class="item content desc">
					<!--<div class="desc">-->
					<p>Working experience in:</p>
					<ul>
						{% for skill in site.data.skill-okay %}
						<li>{{ skill.name }}</li>
						{% endfor %}
					</ul>
					<!--</div>-->
				</div>
			</div>
		</section>
		<section class="pdf">
			<div class="row text-center">
			<header class="wow fadeInDown"><h2>Need a PDF?</h2></header>
				<p class="description wow fadeInUp">Grab a PDF copy of my resume <a href="">here</a>,<br> or check out my <a href="#">linkedIn profile</a><br>for more!</p>
				<hr class="short red center wow fadeIn">
			</div>
		</section>
