<div class="row">
    <div class="image-wrapper">
      <!-- <div class="avatar"><img src="https://unsplash.it/558/558" alt="avatar"></div> -->
    </div>
    <div class="content">
      <h1 class="page-heading wow fadeInDown" data-wow-delay="0.9s">{{ site.data.index.about-title }}</h1>
      <div class="description wow fadeIn" data-wow-delay="0.9s">{{ site.data.index.about-description }}</div>
      <hr class="short red wow fadeIn">

      <ul class="skills">
        {% for skill in site.data.skills %}
        <li class="wow fadeIn" data-wow-delay="{{ forloop.index | times:0.05 }}s">
          <span>{{ skill.name}}</span>
        </li>
        {% endfor %}
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>