<!-- footer scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js" defer></script>

{% comment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.2/featherlight.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.2/featherlight.gallery.min.css">
{% endcomment %}
<script src="{{ "/dist/js/system.js" | prepend: site.baseurl }}" defer></script>
<script src="{{ "/dist/js/config.js" | prepend: site.baseurl }}" defer></script>
<script src="{{ "/dist/js/bundle.min.js" | prepend: site.baseurl }}" defer></script>
<script src="{{ "/dist/js/init.js" | prepend: site.baseurl }}" defer></script>