.contact-me {
	background-color: $white150;
	.links-out {
		@include inline-lists;

		li a {
			margin: rem(5);
			padding: 0 rem(10);
			display: block;
			line-height: 1;

			&:first-child {
				margin-left: 0;
				padding-left: 0;
			}

			span {
				font-family: $suppl-family;
				font-size: rem(24);
				font-style: italic;
				color: $black300;
				font-weight: 300;
			}
		}

	}
}
