.hero {
	@include hero-colors;
	padding-top: 0;
	padding-bottom: 0;

	.hero-wrapper {
		display: block;
		position: relative;
		max-width: $content-width;
		margin: 0 auto;
	}

	.row {
		height: rem(300);
		@include media($mob-min-width){
			height: rem(350);
		}
		@include media($tab-min-width){
			height: rem(400);
		}
		@include media($lap-min-width){
			height: rem(450);
		}
		@include media($hires-min-width){
			height: rem(500);
		}
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}

	.content {
		width: 100%;
		margin: rem(50) 0;
	}

	.title {
		@include title-styling;
		font-size: rem(42);
		@include media($mob-min-width){
		font-size: rem(48);
		}
		@include media($tab-min-width){
		font-size: rem(55);
		}
	}

	.subtitle {
		@include subtitle-styling;

		a {
			color: $white100;
			color: $black300;
			font-weight: 400;
		}
	}

.title-logo {
	width: 100%;
}

}


#hero-name {
  path {
    @include animation(name-dash 3s ease-in-out forwards);
    fill: transparent;
    stroke: $black300;
    stroke-width: 1px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}

@include keyframes(name-dash) {
  to {
    stroke-dashoffset: 0;
  }
}
