article {
	// @include outer-container();

	header,
	.post-content-wrapper {
		@include row();
	}

	.post-cover-image,
	.post-content {
		@include row();
		margin-bottom: rem(30);
		// @include span-columns(12);
		// @include media($tab-min-width){
			// @include span-columns(8);
		// }
		// @include media($lap-min-width){
			// @include span-columns(9);
		// }
		// @include media($desk-min-width){
		// 	@include span-columns(10);
		// }
	}

	.post-meta {
		// @include span-columns(12);
		@include row();
		margin-bottom: rem(30);
		// @include omega();

		.post-meta__date-author {
			@include span-columns(12);

			@include media($tab-min-width) {
				@include span-columns(6);
			}
		}

		.post-meta__attrib {
			@include span-columns(12);
			text-align: right;

			@include media($tab-min-width) {
				@include span-columns(6);
				@include omega();
			}
		}

		// @include media($tab-min-width){
		// 	@include span-columns(4);
		// }
		// @include media($lap-min-width){
		// 	@include span-columns(3);
		// }
		// @include media($desk-min-width){
		// 	@include span-columns(2);
		// }
	}

	.post-skills {
		.skill-list {
			@extend .inline-lists;

			.item {
				@include block-tags;
			}
		}
	}

	blockquote {
		line-height: 1.2;
		border-left-color: $accent-color;
		margin-left: 0;
		font-family: $body-family;
		font-weight: 400;
		font-style: normal;

		font-size: rem(24);
		border-left-width: rem(5);
		@include media($lap-min-width){
			font-size: rem(36);
			border-left-width: rem(10);
			line-height: 1.15;
		}
	}

}
