@import 'bourbon/bourbon';
@import 'neat/neat';

@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700italic,700,900,900italic);

$cardo: "Cardo", Georgia, Times, serif;
$sourcesans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$black100: tint(black, 3%);
$black200: tint($black100, 15%);
$black300: tint($black200, 15%);
$black400: tint($black300, 15%);
$black500: #828282;

$white100: white;
$white150: shade($white100, 4%);
$white200: shade($white100, 8%);
$white300: shade($white200, 8%);
$white400: shade($white300, 8%);

// $khaki100: #344245;
$khaki100: #002F91;
$khaki200: shade($khaki100, 25%);
$khaki300: saturate(tint($khaki100, 10%), 15%);



// $red100: saturate(tint(#6F5653, 25%), 40%);
$red100: tint(#002F91, 40%);


$mob-min-width: 640px;
$tab-min-width: 768px;
$lap-min-width: 1024px;
$desk-min-width: 1200px;
$hires-min-width: 1440px;

$shadow1: 0 1px 3px rgba($black100,0.12), 0 1px 2px rgba($black100,0.24);
$shadow2: 0 10px 20px rgba($black100,0.19), 0 6px 6px rgba($black100,0.23);
$shadow3: 0 10px 20px rgba($black100,0.19), 0 6px 6px rgba($black100,0.23);
$shadow4: 0 14px 28px rgba($black100,0.25), 0 10px 10px rgba($black100,0.22);
$shadow5: 0 19px 38px rgba($black100,0.30), 0 15px 12px rgba($black100,0.22);

@mixin hero-colors {
	background-color: $khaki100;
	@include background-image(linear-gradient(135deg, $khaki200 0%, $khaki100 100%));

	* {color: $white200};
}

@mixin sect-padding {
	padding: rem(70) rem(15);

	@media (min-width: $mob-min-width){
		padding: rem(100) rem(30);
	}
}

@mixin sect-side-padding {
	padding: 0 rem(15);

	@media (min-width: $mob-min-width){
		padding: 0 rem(30);
	}
}

@mixin content-bg {
	padding: rem(10) rem(15);
	padding-left: 0;
}

@mixin title-styling {
	line-height: 1;
	font-weight: 300;
	color: tint($red100, 25%);
	margin: 0;
}

@mixin subtitle-styling {
	font-size: rem(18);
	font-family: $sourcesans;
	font-weight: 300;
	color: shade($white400, 15%);
	letter-spacing: 0.3px;
	@media (min-width: $mob-min-width){
		font-size: rem(20);
	}
	@media (min-width: $tab-min-width){
		font-size: rem(22);
	}
}

@mixin inline-block-container {
	display: inline-block;
	position: relative;
	width: 100%;
}

@mixin block-tags {
	margin: rem(3) rem(6) rem(3) 0;
	padding: rem(8) rem(12);
	border: solid 1px black;
	display: block;
}


body {
	background: $white200;
	font-size: rem(14);

	@media (min-width: $mob-min-width){
		font-size: rem(15);
	}
	@media (min-width: $tab-min-width){
		font-size: rem(16);
	}
}

h1,
h2 {
	font-family: $cardo;
}

nav {
	&.site-nav {
		&:not(:hover):not(:active):not(:focus) {
			background: transparent;
		}

		.menu-icon {
			height: 36px;
		}

		.page-link {
			color: $white200;

			@media ($mob-min-width){
				font-size: rem(15);
			}
		}

		&:hover,
		&:active {
			.page-link {
				color: $black200;
				@media (min-width: $mob-min-width){
					color: $white100;
				}
			}
		}
	}
}

.site-header {
	@include sect-side-padding;
	background: transparent;
	border-bottom-width: 0;
	margin-bottom: rem(-56);
	z-index: 10;
	border-top-color: shade($red100, 30%);
}

.fullwidth {
	max-width: 100%;
	// padding: 0;
}

.wrapper.fullwidth {
	padding: 0;

	> section {
		&:not(.hero){
			@include sect-padding;
		}

		&.hero {
			@include sect-side-padding;
		}
	}

	article {
		@include sect-padding;
		background: $white100;
	}
}

.site-footer {
	position: relative;

	.wrapper.fullwidth .row{
		@include sect-side-padding;

		@media (min-width: $desk-min-width){
			padding: 0;
		}

		.footer-col {
			padding-left: 0;
			padding-right: 15px;
		}
		// @include sect-padding;
	}

	.footer-col-wrapper {
		margin-left: 0;

		// @media (min-width: $mob-min-width){
		// 	margin-left: rem(-15);
		// }
		// @media (min-width: $tab-min-width){
		// 	margin-left: rem(0);
		// }
		@media (min-width: $desk-min-width){
			padding-left: rem(30);
		}
		@media (min-width: $hires-min-width){
			padding-left: 0;
		}
	}
}

.page-heading,
section header h2 {
	font-size: rem(28);
	font-weight: 300;
	color: $khaki300;
	@media (min-width: $mob-min-width){
		font-size: rem(30);
	}
	@media (min-width: $tab-min-width){
		font-size: rem(32);
	}
}

.row {
	@include row();
	max-width: rem(1280);
	margin: 0 auto;
}

.right { float: right;}

.clearfix { clear: both;}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.inline-lists {
	list-style: none;
	margin: 0;
	float: left;

	li {
		display: inline-block;
		float: left;
	}
}

.page-content {
	position: relative;
	padding: 0;
	z-index: 9;
}

hr,
span {
	&.short {
		margin: rem(30) 0;
		width: rem(100);
		border-width: rem(3) 0 0 0;
		border-style: solid;
	}

	&.red {
		border-color: $red100;
	}

	&.center {
		margin: 0 auto;
		margin-top: rem(30);
		margin-bottom: rem(30);
	}

	&.header {
		margin-top: rem(30/2);
	}
}

.hero {
	@include hero-colors;
	padding-top: 0;
	padding-bottom: 0;

	.hero-wrapper {
		display: block;
		position: relative;
		max-width: rem(1280);
		margin: 0 auto;
	}

	.row {
		height: rem(400);
		@media (min-width: $mob-min-width){
			height: rem(450);
		}
		@media (min-width: $tab-min-width){
			height: rem(500);
		}
		@media (min-width: $lap-min-width){
			height: rem(550);
		}
		@media (min-width: $hires-min-width){
			height: rem(600);
		}
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}

	.content {
		margin: rem(50) 0;
	}

	.title {
		@include title-styling;
		font-size: rem(42);
		@media (min-width: $mob-min-width){
		font-size: rem(48);
		}
		@media (min-width: $tab-min-width){
		font-size: rem(55);
		}
	}

	.subtitle {
		@include subtitle-styling;

		a {
			color: $white100;
		}
	}
}

.about {
	.content {
		@include span-columns(12);
		margin-top: rem(15);

		@media (min-width: $tab-min-width){
			@include span-columns(8);
			margin-top: rem(0);
		}

	.description { max-width: rem(700);}

	}

	.image-wrapper {
		@media (min-width: $tab-min-width){
			@include span-columns(4);
			@include omega();
			float: right;
		}

		.avater {
			display: block;
		}
	}

	.skills {
		@extend .inline-lists;

		li span {
			@include block-tags;
		}
	}
}

.About {
	background-color: $white150;
}

.recent-work {
	background: $white100;
}

.portfolio {
	background-color: $white150;
}

a.read-more {
	color: $black200;

	&:visited {
		color: $black400;
	}
}

.recent-work,
.portfolio .list {

	ul { @include outer-container(100%);}

	li:not([class$="desandro"]) {
	// li {
		@include span-columns(12);
		// box-shadow: $shadow1;

		@media (min-width: $mob-min-width) and (max-width: $tab-min-width) {
			@include span-columns(6);

			&:nth-child(2n+2){
				@include omega();
			}
		}
		@media (min-width: $tab-min-width) and (max-width: $desk-min-width) {
			@include span-columns(6);

			&:nth-child(2n+2){
				@include omega();
			}
		}
		@media (min-width: $desk-min-width){
			@include span-columns(3);

			&:nth-child(4n+4){
				@include omega();
			}
		}
	}

	.post-img {
		display: block;
	}

	.post-desc {
		@include content-bg;

		.post-link {
			// @include transform(translateY(-60px));
			// background: rgba($white100, 0.7);
			position: relative;
			font-family: $cardo;
			font-weight: 700;
			line-height: 1;
			margin: 0;

			padding: rem(5) rem(10);
			border-left: solid rem(3) $red100;

			a {
				font-size: rem(20);
				color: $black300;
			}
		}

		.post-meta {
			text-transform: uppercase;
		}

		.post-categories {
			display: block;
			font-size: rem(14);
			color: $black500;
			margin-top: rem(5);

			li {
				position: relative;
				display: inline-block;
				padding: rem(3) rem(6);
				margin: 0;
				margin-right: rem(4);
				width: auto;
				border: solid 1px tint($black500, 20%);
			}
		}
	}
}

.portfolio .navigation {
	nav {
		@include span-columns(12);
		margin-bottom: rem(15);

		@media (min-width: $lap-min-width){
		margin-bottom: rem(30);
			&.portfolio-filter {@include span-columns(9);}
			&.portfolio-sort {
				@include span-columns(3);
				@include omega();
			}
		}
	}
	h4 {
		margin: 0;
		margin-bottom: rem(5);
		font-family: $cardo;
		font-weight: 700;
	}
	ul {
		@extend .inline-lists;

		li {
			&.checked,
			&:hover,
			&:active {
				cursor: pointer;
			}
		}

		li button {
			@include block-tags;
			background-color: transparent;
			font-family: $sourcesans;
			font-size: rem(14);
			@include transition(all 0.25s ease-in-out);

			&.checked,
			&:hover,
			&:active {
				border-color: shade($red100, 10%);
				color: shade($red100, 10%);
			}
		}
	}
}

.portfolio .post-list.desandroed  {
	display: inline-block;
	width: 100%;
	// position: relative;
}

.post-sizer-desandro,
.post-item-desandro {
	float: left;
	display: inline-block;
	position: relative;
	width: percentage(1);

	@media (min-width: $mob-min-width){ width: percentage(0.4745);}
	@media (min-width: $tab-min-width){ width: percentage(0.3128);}
	@media (min-width: $lap-min-width){ width: percentage(0.230);}
	// @media (min-width: $desk-min-width){ width: percentage(0.185);}

	&.featured {
	@media (min-width: $lap-min-width){ width: percentage(0.230 * 2 + 0.019);}
	// @media (min-width: $desk-min-width){ width: percentage(0.185 * 2 + 0.014);}
	}

	.post-desc {
		display: none;
	// min-height: rem(140);
	@media (min-width: $mob-min-width){ min-height: rem(140);}
	@media (min-width: $tab-min-width){ min-height: rem(170);}
	@media (min-width: $lap-min-width){ min-height: rem(166);}
	// @media (min-width: $desk-min-width){ min-height: rem(170);}
	// @media (min-width: $hires-min-width){ min-height: rem(160);}
}
}

.post-gutter-desandro {
	width: percentage(0);

	@media (min-width: $mob-min-width){ width: percentage(0.029);}
	@media (min-width: $tab-min-width){ width: percentage(0.024);}
	@media (min-width: $lap-min-width){ width: percentage(0.019);}
	// @media (min-width: $desk-min-width){ width: percentage(0.014);}
}

.contact-me {
	background-color: $white150;
	.links-out {
		@extend .inline-lists;

		li:not(:last-child){
			a {
				&:after {
					content: '/';
				}
			}
		}

		li a {
			font-family: $cardo;
			font-size: rem(24);
			color: $black300;
			margin: rem(5);
			padding: 0 rem(10);
			display: block;
			line-height: 1;

			&:first-child {
				margin-left: 0;
				padding-left: 0;
			}
		}

		// li:not(:last-child) a:after{
		// 	content: '-';
		// 	padding-left: rem(5);
		// }
	}
}

header.page-inner {
	@include hero-colors;
	@include sect-side-padding;
	// margin-bottom: rem(30);

	.header-wrapper {
		display: block;
		position: relative;
		max-width: rem(1280);
		margin: 0 auto;
	}

	.row {
		height: rem(300);
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;

		.content {
			margin: rem(50) 0;
		}

		.page-heading {
			font-size: rem(44);
			@include title-styling;
		}

		.description {
			@include subtitle-styling;
		}
	}
}

.resume {
	background-color: $white150;

	.work-experience,
	.education,
	.skills-competency {
		margin: rem(30) 0;
	}

	.work-experience,
	.education,
	.pretty-good,
	.kinda-okay {
		@include span-columns(12);

		@media (min-width: $tab-min-width){
			@include span-columns(6);
		}
	}

	.education,
	.kinda-okay {
		@media (min-width: $tab-min-width){
			@include omega();
		}
	}

	.content {
		max-width: rem(500);
	}

	.item {
		@include inline-block-container;
		margin-bottom: rem(50);

		> * {
			display: block;
			position: relative;
		}

		.title {
			font-family: $cardo;
			font-size: rem(18);
			font-weight: 600;
			line-height: 1.15;
			margin-bottom: rem(10);
			font-size: rem(20);
			@media (min-width: $mob-min-width){
				font-size: rem(21);
			}
			@media (min-width: $tab-min-width){
				font-size: rem(22);
			}
		}

		.role,
		.period {
			font-family: $sourcesans;
			margin: 0;
			margin-bottom: rem(5);
		}

		.role {
			color: $black400;
			text-transform: uppercase;
			font-size: rem(15);
			letter-spacing: 0.2px;
			line-height: 1.35;
		}

		.period {
			color: $khaki100;
			font-size: rem(14);
			margin-bottom: rem(10);
			font-style: italic;
		}

		.desc {
			padding-left: rem(20);

			* {
				line-height: 1.5;
			}

			li,
			span {
				margin-bottom: rem(5);
			}
		}
	}
}

article {
	// @include outer-container();

	header,
	.post-content-wrapper {
		@include row();
	}
	.post-content {
		@include span-columns(12);
		@media (min-width: $tab-min-width){
			@include span-columns(8);
		}
		@media (min-width: $lap-min-width){
			@include span-columns(9);
		}
		// @media (min-width: $desk-min-width){
		// 	@include span-columns(10);
		// }
	}

	.post-meta {
		@include span-columns(12);
		@include omega();

		@media (min-width: $tab-min-width){
			@include span-columns(4);
		}
		@media (min-width: $lap-min-width){
			@include span-columns(3);
		}
		// @media (min-width: $desk-min-width){
		// 	@include span-columns(2);
		// }
	}

	blockquote {
		line-height: 1.2;
		border-left-color: $red100;
		margin-left: 0;
		font-family: $cardo;
		font-weight: 400;
		font-style: normal;

		font-size: rem(24);
		border-left-width: rem(5);
		@media (min-width: $lap-min-width){
		font-size: rem(36);
		border-left-width: rem(10);
		line-height: 1.15;
	}
	}

}

// Remove once done
header.notice {
	background-color: $red100;
	margin: 0;
	border: 0;
	padding: rem(15);
	display: block;
	position: relative;
	span {
		color: white;
		font-weight: 200;
		letter-spacing: 0.2px;
		font-size: rem(16);

		a {
			color: white;
			text-decoration: underline;
		}
	}
}
