@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'core/oswald_italic';

@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700italic,700,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400italic,300italic,700,400,300);
// @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@import 'core/variables';
@import 'core/mixins';
@import 'core/utility-class';
@import 'core/global';
@import 'core/nav';

@import 'sect/hero';
@import 'sect/about';
@import 'sect/portfolio';
@import 'sect/resume';
@import 'sect/contact';
@import 'sect/post';

// Temporary: Remove once done
header.notice {
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	background-color: $accent-color;
	padding: rem(15);

	span {
		letter-spacing: 0.2px;
		color: $white100;
		font-size: rem(16);
		font-weight: 400;
		// color: $black200;

		a {
			text-decoration: underline;
			color: $white300;
			// color: $black300;
		}
	}
}
