<div class="row">
    <h1 class="page-heading wow fadeInDown">{{ site.data.index.contact-title }}</h1>
    <p class="description wow fadeIn">{{ site.data.index.contact-description }}</p>
    <hr class="short red wow fadeIn">

    <ul class="links-out">
      {% for contact-link in site.data.contact-links %}
      <li class="wow fadeInUp" data-wow-delay="{{ forloop.index | times:0.2 }}s">
        <a href="{{ contact-link.link }}" target="_blank" title="{{
			contact-link.name }}" rel="noopener">
          <span class="title">{{ contact-link.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
