---
layout: base
---
  <div class="page-content">
    <header class="page-content-header">
    <div class="header-wrapper">
        <div class="header-content">
          <h2 class="title wow fadeInDown" data-wow-delay="0.3s">{{ page.title}}</h2>
          <p class="subtitle wow fadeIn" data-wow-delay="0.7s">{{ page.subtitle }}</p>
        </div>
    </div>
    </header>

    <div class="wrapper">
      <section class="{{ page.title }}">
        <div class="row">
          <header>
          <h2 class="page-heading">{{ page.header }}</h2>
          </header>
          {{ content }}
        </div>
      </section>
    </div>
  </div>
