<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <header class="page-content-header">
    <div class="header-wrapper">
      <!-- <div class="row"> -->
        <div class="header-content">
          <h2 class="title wow fadeInDown" data-wow-delay="0.3s">{{ page.title}}</h2>
          <p class="subtitle wow fadeIn" data-wow-delay="0.7s">{{ page.subtitle }}</p>
        </div>
      <!-- </div> -->
    </div>
    </header>
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

</body>
  {% include scripts.html %}

</html>
