---
layout: inner
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="row">
		<div class="post-meta">
			<div class="post-meta__date-author">
				<div class="date">
					<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
				</div>
				{% if page.author %}
				<div class="author">
					<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
				</div>
				{% endif %}
			</div>
			<div class="post-meta__attrib">
			{{ page.attribution }}
			</div>
		</div>

		<div class="post-cover-image">
			<img src="https://unsplash.it/1200/800/" alt="Cover image">
		</div>

		<div class="post-content" itemprop="articleBody">
			{{ content }}
		</div>

		<div class="post-skills">
			<!-- <h4>Skills</h4> -->
			<ul class="skill-list">
				{% for category in page.categories %}
				<li class="item">{{ category }}</li>
				{% endfor %}
			</ul>
		</div>
		<!-- </div> -->

	</div>
</article>

<script type="text/javascript">
</script>
